body {
	padding : 0;
	font : 75% "Trebuchet MS", tahoma, verdana, arial, sans-serif;
	color : #666;
}

.main {
	position: absolute;
	width: 100%;
	left: 50%;
	margin-left: -350px;
	width: 700px;
}

a{
	color: #444;
	text-decoration: none;
}
a.current {
	font-weight: bold;
}
.pagination {
	width: 700px;
	text-align: center;
	/*background-color: #ff9900;*/
	margin: 20px 0 20px 0;
}
.table {
	width: 100%;
}

.table tbody tr td
{
	text-align: center;
}
.table a
{
	text-decoration: underline;
}

.flashMessage {
	background-color: #ddadaf;
	width: 100%;
	padding: 5px 5px 5px 5px;
	margin: 5px 5px 5px 5px;
	text-align: center;
	color: black;
}
.notification{
	background-color: #adddc3;
	width: 300px;
	padding: 5px 5px 5px 5px;
	margin: 5px 5px 5px 5px;
	text-align: center;
	color: black;
	display: none;
}